.container{
    background: #F6F8FD;
    display: flex;
}

.rightPage{
    width:100%;
    height: 750px;
    background-color: #F6F8FD;
    overflow-y: scroll;
}

.myProduct{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    /* background: aqua; */
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #0C145A;
}

.detail{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #9191A9;
}

.formBox{
    width: 100%;
    background: #FFFFFF;
    border-radius: 31px;
    min-height: 300px;
    /* height: 1000px; */
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-bottom: 40px;
}

.inputText{
    width: 80%;
    /* background: red; */
    margin: auto;
}

.item{
    margin-bottom: 20px;
}

.item input{
    background: #F5F5F7;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

.title2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18.14px;
    line-height: 27px;

    color: #0C0D36;
}

.item textarea{
    background: #F5F5F7;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    height: 120px;
    width: 100%;
    font-family: Poppins;
}

input{
    padding-left: 20px;
}
select{
    padding-left: 20px;
}
textarea{
    padding-left: 20px;
}

.editor {
    height: 200px;
    /* added these styles */
    flex: 1;
    width: 100%;
    margin-bottom: 50px;
  }

.spek {
    height: 200px;
    /* added these styles */
    flex: 1;
    width: 100%;
    margin-bottom: 50px;
}

.spesifikasi{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* align-items: center; */
}

.spekKiri{
    width: 50%;
}

.spekKanan{
    width: 50%;
}

.inputFile{
    border: 1px solid;
    width: 100%;
    height: 24px;
    font-size: 16px;
    border-radius: 0;
    padding: 0;
    display: flex;
    /* align-items: center;
    justify-content: center;
    background-color: red; */
}

.uploadButton{
    width: 20%;
    height: 27px;
    background-color: #7839F3;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.uploadButton:hover{
    background-color: #a179f1;
    cursor: pointer;
}

.inputImage{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.uploadFile{
    margin-top: 30px;
    /* background-color: aqua; */
    width: 70%;
    margin: auto;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.btnSubmit{
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
}